<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>WEB-DICT词库计划</title>

    <!-- Bootstrap core CSS -->
    <link href="/css/bootstrap.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="/css/jumbotron-narrow.css" rel="stylesheet">

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="../../assets/js/html5shiv.js"></script>
      <script src="../../assets/js/respond.min.js"></script>
    <![endif]-->
    <script src="/js/jquery-1.10.2.min.js"></script>
    <script type="text/javascript">
      var words = <%- words %>;
      var logs = <%- logs %>;
      $(function () {
        nextWord();
        updateLog();
        updateLogFromArray(logs);

        $('#true-button').click(function () {
          checkWord($('#word').text(), true);
          nextWord();
        });

        $('#false-button').click(function () {
          checkWord($('#word').text(), false);
          nextWord();
        });

        $(document).keypress(function (event) {
          switch (event.which) {
           case 't'.charCodeAt():
            $('#true-button').click();
            break;
           case 'f'.charCodeAt():
            $('#false-button').click();
            break;
          }
        });

        setInterval(updateLog, 5000);
      });

      var nextWord = function () {
        var word = words.pop();
        if (words.length < 10) {
          $.get('/words', function (data) {
            var newWords = JSON.parse(data);
            words = words.concat(newWords);
          });
        }
        $('#word').text(word);
      };

      var checkWord = function (word, isWord) {
        $.post('/check', {"word": word, "isWord": isWord});
      };

      var updateLog = function () {
        $.get('/log', function (content) {
          logs = JSON.parse(content);
          updateLogFromArray(logs);
        });
      };

      var updateLogFromArray = function (array) {
        var logHtml = logs.map(function (log) {
          var date = new Date(log['timestamp']);
          var dateStr = '[' + (date.getMonth() + 1) + '-' + date.getDate() + ' ' + date.getHours() + ':' + date.getMinutes() + '] ';
          if (log['isWord'] == true) 
            return dateStr + '"' + log['word'] + '"<green>是</green>一个词语';
          if (log['isWord'] == false)
            return dateStr + '"' + log['word'] + '"<red>不是</red>一个词语';
        });
        $('#log').empty().html(logHtml.join('<br />'));
      };
    </script>
  </head>

  <body>

    <div class="container">
      <div class="header">
        <ul class="nav nav-pills pull-right">
          <li class="active"><a href="#">主页</a></li>
          <li><a href="https://github.com/ling0322/webdict">词库下载</a></li>
        </ul>
        <h3 class="text-muted">WEB-DICT词库计划</h3>
      </div>

      <div class="jumbotron">
        <h1 id="word">[词语]</h1>
        <p class="lead">WE NEED YOUR HELP! 请帮助我们判断这是不是一个词语.</p>
        <p>
          <a class="btn btn-danger btn-lg" href="javascript:;" id="false-button">不是一个词 (F)</a>
          <a class="btn btn-lg btn-success" href="javascript:;" id="true-button">是一个词 (T)</a>
        </p>
      </div>

      <div class="row marketing">
        <div class="col-lg-6">
          <h4>一些判断标准</h4>
          <p>
            判断是否是一个词的最主要标准就是，拆开之后是否意思会发生改变，如果拆开意思不变则<red>不是</red>一个词语，比如“发微博”。
            末尾带有“的”“地”“得”的很明显<red>不是</red>一个词语。<br />
            常用的短语，如果拆分之后不能表示原来的意义，也算作<green>是</green>一个词语，比如“混口饭吃”。<br />
            很明显由两个词语构成的，<red>不是</red>一个词语，比如“别到”、“扭出”等。<br />
            数字<red>不是</red>一个词语，比如“三二五”、“五千五”等。<br />
            人名、地名和机构名等命名实体<green>是</green>一个词语，比如“南京市”、“张小贱”等。<br />
          </p>

          <h4>最近记录</h4>
          <p id="log"></p>
        </div>

        <div class="col-lg-6">
          <h4>什么是WEB-DICT词库计划？</h4>
          <p>WEB-DICT词表计划目标是通过机器学习算法以及人工标注构建一个包含大量网络词汇的、无版权限制的中文词库，从而提高中文网络文本自然语言分析以及开源中文输入法的效果。</p>
          <h4>现在有很多词库，为什么还要创建新的词库？</h4>
          <p>虽然目前互联网上可以得到的词库很多，但是包含网络词汇的非常少，而且都是有版权的，反之没有版权或者免费使用的词库大多比较旧。</p>
          <h4>目前的词库是怎么得到的？</h4>
          <p>目前的词库首先是通过网络爬虫从Twitter中抓取中文推(约4G左右纯文本)，然后使用Stanford word segmenter进行分词，统计词频。最后用CRF模型进行筛选，比较不确定的词语放到网络上进行人工标注，最后汇合生成词库。</p>
          <h4>怎样获得WEB-DICT词库？</h4>
          <p>可以从<a href="https://github.com/ling0322/webdict">GitHub</a>中下载</p>
          <h4>WEB-DICT词库有版权吗？</h4>
          <p>WEB-DICT词库是Public Domain的，没有任何的版权限制。</p>
        </div>
      </div>

      <div class="footer">
        <p>YacaNLP 2013</p>
      </div>

    </div> <!-- /container -->


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
  </body>
</html>
